/* Buddhist Quotes Generator Styles */

html {
    text-align: center;
    padding: 1.5em;
    font-family: 'Varela Round', sans-serif;
}
body {
  background-image: repeat-x repeat-y;
  background-image: url("img/buddha.jpg");
  opacity: 0.8;
}
h1 {
  font-size: 5.5em;
  letter-spacing: 4px;
  color: orange;
}

.fortune-cookie-saying-wrapper {
    border: 2px solid #091077;
    background-color: cornflowerblue;
    opacity: 0.95;
    padding: 1.5em;
    margin: 1em;
    border-radius: 25px;
}
/*This is the previous quotes list*/
li {
  list-style-type: none;
  font-size: 1.5em;
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Varela Round', sans-serif;
}


p {
  font-size: 1.75em;
  color: #091077;
  font-family: 'Varela Round', sans-serif;
}
/*This is "previous quotes"*/
h2 {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 2.2em;
}
.button {
  font-size: 1.2em;
  font-family: 'Varela Round', sans-serif;
  background-color: orange;
}

/*RESPONSIVE WEB DESIGN SMALL SCREEN */
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.3em;
    color: orange;
  }
  html{
    /*background-color: white;*/
    /*opacity: 0.85;*/
    margin: 0;
    padding: 0;
  }

  .fortune-cookie-saying-wrapper {
      border: 4px solid darkblue;
      background-color: cornflowerblue;
      opacity: 0.95;
      padding: 1.5em;
      margin: 1em;
      /*border-radius: 25px;*/
  }
  /*This is the previous quotes list*/
  li {
    list-style-type: none;
    font-size: 1.1em;
    color: black;
    text-shadow: 1px 1px white;
    font-family: 'Varela Round', sans-serif;
  }
  /*This is the quotes section*/
  p {
    font-size: 1.5em;
    color: midnightblue;
    font-family: 'Varela Round', sans-serif;
  }
  /*This is "previous quotes"*/
  h2 {
    color: black;
    font-size: 1.1em;
    font-family: 'Varela Round', sans-serif;
  }
  .button {
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;
    background-color: orange;
    border-radius: 25px;
  }
}
